body {
    background-image: url('../imagen/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#noscript-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    /* Estilos para el mensaje de advertencia si no hay JavaScript */
} 

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registro_cont {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#registro_cont.registro-form-container {
    background-color: #031d25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff; 
    padding: 2
}

.custom-container {
    background-color: #031d25; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.custom-container {
    color: #71dada; 
}

.custom-btn {
    background-color: #ff5a6d; 
    border-color: #ff5a6d; 
}

.custom-btn:hover {
    background-color: #71dada;
}
