body {
    background-color: whitesmoke;
}

#cabecera header {
    display: block !important;
    background-color: #031d25 !important;
}
    
#logoutForm .btn-danger:hover {
    background-color: #055259;
    border-color: #055259;
}

#cuerpo{
    min-height: 90vh;    
}

.menu {
    background-color: #e3364a;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

.menu ul li a:hover {
    background-color: #055259;
    border-radius: 10px;
}


#imagen-container {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.imagen-con-nombre p {
    text-align: center;
    font-weight: bolder;
    color: #031d25;
}


#air-image {
    width: 100%;
    height: auto;
}

.pie {
    background-color: #031d25;
    color: #ffffff; 
    padding: 20px 0; 
    text-align: center; 
    font-size: 14px;
    min-height: 9vh;
}

#carrito {
    color: red;
}


.pie p {
    margin-bottom: 5px; 
}

.pie h4 {
    color: #f0ad4e; 
    margin-bottom: 10px; 
}

.custom-checkbox {
    width: 35px; 
    height: 35px;
    
}





@media only screen and (max-width: 600px) {
   
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}

@media only screen and (min-width: 1025px) {
    
}
